.home {
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.move__home {
    transform: translateX(130px);
    transition: 0.75s;
}


.home__banner{
    width: auto;
}

.home__cards{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home__cardsRow1{
    display: flex;
}

 .home__cardsRow2{
    z-index:0;
    display: flex;
}

.home__cardsRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


@media only screen and (max-width: 767px) {
    
    .home__cards {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .home__cardsRow1{
        display: flex;
        flex-direction: column;
    }
    .home__cardsRow{
        margin:10px 0px;
    }
    .sidebar{
        width: 15rem;
    }
    
    .sidebar > h3 {
        width:14rem;
        padding: 1rem 0rem 1rem 1rem;
    }
}

@media only screen and (max-width: 359px) {
    .sidebar{
        width: 12rem;
    }
    .sidebar > h3 {
        width: 11rem;
        padding: 1rem 0rem 1rem 1rem;
    }
    @keyframes animate__sidebar {
        0% {
          transform: translateX(-200px);
        }
        100% {
            transform: translateX(0);
          }
    }
}
