.skills {
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.move__skills {
    transform: translateX(130px);
    transition: 0.75s;
}

.overlay__skills {
    position : absolute;
    width: 100%;
    height : 100%;
    background : black;
    opacity : 0.6;
    filter : alpha(opacity=60); /*firefoks*/
    z-index : 1;
    transition: 0.75s;

}

.skills__left {
    display: flex;
    flex-direction: column;
}

.skills__list{
    margin-left: 20px;
}

.skills__item{
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    visibility: hidden;
}
.skills__item > h1{
    font-size: 24px;
}
.skills__item > span{
    margin-left: 10px;
    font-size: 14px;
}

.skills__mid{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.skills__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.skills__atom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: auto;
    margin: 20px 20px;
    visibility: hidden;
}
.atom__animation{
    transform: rotateZ(360deg);
    transition: 2s;
    animation: atom__animation 0.75s ease;
    visibility: visible !important;
}

.skills__image > h2 {
    margin: 20px 20px;
    visibility: hidden;
}

.writing__animation {
    animation: atom__animation 2s ease;
    visibility: visible !important;
}
.skills__image > h2 {
    font-size: 20px;
}
.skills__image > h2 > strong {
    color: red;
}

.skills__right{
    display: flex;
    padding: 20px;
    z-index: 0;
}

.skills__profile{
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    position: relative;
    padding: 20px;
}

.skills__profile__item{
    border-radius: 20px;
    background-color: #a9f1fc;
    margin-top: 20px;
    margin-right: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    visibility: hidden;
}

.skills__profile__item > h1 {
    font-size: 22px;
}


.skills__profile__item > span {
    font-size: 14px;
}

.skillItem__slide{
    -webkit-font-smoothing: antialiased;
    animation: skillItem__slide 0.75s ease both;
    visibility: visible !important;
}

.profileItem__slide{
    -webkit-font-smoothing: antialiased;
    animation: profileItem__slide 0.75s ease both;
    visibility: visible !important;
}

@keyframes profileItem__slide {
    0% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes skillItem__slide {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes atom__animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    .skills{
        padding: 75px 0px;
    }
    .skills__item{
        padding: 15px;
        display: flex;
        align-items: center;
    }

    .skills__item > h1 {
        font-size: 22px;
    }
    
    .skills__item > span{
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-left: 10px;
    }
    .skills__atom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        margin: 5px;
        margin-top: 20px;
    }

    .skills__image > h2 {
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    .skills {
        z-index: -1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        
    }

    .skills__left {
        z-index:0;
        display: flex;
        flex-direction: column;
    }

    .skills__list{
        margin-left: 0px;
    }
    
    .skills__item{
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .skills__item > h1 {
        font-size: 18px;
    }
    
    .skills__item > span{
        font-size: 12px;
        margin-left: 5px;
    }

    .skills__mid{
        width: 80%;
    }

    .skills__atom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: auto;
        margin: 10px;
        margin-top: 35px;
    }

    .skills__image > h2 {
        font-size: 14px;
        text-align: center;
    }
    
    .skills__right{
        display: flex;
        align-items: center;
    }
    
    .skills__profile{
        border-radius: 10px;
        height: fit-content;
        width: fit-content;
        position: relative;
        padding: 10px;
    }
    
    .skills__profile__item{
        margin: 0;
        border-radius: 20px;
        padding:8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        visibility: hidden;
    }

    .skills__profile__item > h1{
        font-size: 18px;
        font-weight: 400;
    }

    .skills__profile__item > span {
        font-size: 12px;
        font-weight: 300;
    }
}
@media only screen and (max-width: 360px) {
    .skills {
        z-index: -1;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    .skills__left {
        z-index: -1;
        display: flex;
        flex-direction: column;
    }
    
    .skills__item{
        padding:5px;
        display: flex;
        align-items: center;
    }
    .skills__item > h1{
        font-size: 12px;
        font-weight: 400;
        
    }
    .skills__item > span{
        font-size: 8px;
        margin-left: 5px;
    }
    
    .skills__mid{
        width: 100%;
    }

    .skills__atom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: auto;
        margin: 5px;
        margin-top: 30px;
    }

    .skills__image > h2 {
        font-size: 8px;
        text-align: center;
    }
    
    .skills__profile{
        padding:5px;
    }
    .skills__list{
        margin-top:10px;
    }
    
    .skills__profile__item{
        border-radius: 20px;
        padding:5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        visibility: hidden;
    }

    .skills__profile__item > h1 {
        font-size: 15px;
    }
    .skills__profile__item > span{
        font-size: 8px;
    }
}

